body,
html {
  font-family: Yantramanav, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: map-get($theme-colors, 'ordino-gray-1');
  color: map-get($theme-colors, 'ordino-gray-2');
}
