<!doctype html>
<html>
<head>
    <title>Ordino</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width">
    <link href="<%=require('./assets/favicon.png')%>" rel="icon">
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js"></script>
</head>
<body>
  <script>
    // maintain compatibility with old session links (e.g., bookmarks, vistories)
    // redirect to app subdirectory if URL hash contains a CLUE session
    if(location.hash.includes('clue_graph') || location.hash.includes('clue_state')) {
      location.replace(location.href.replace('#', 'app/#'));
    }
  </script>
  <div id="welcome">Loading &hellip;</div>
</body>
</html>
